{% extends "base.html"%}
{% load humanize %}
{% load url from future %}
{% block content %}
      
      <div id="logo">
      <img src="{{ STATIC_URL }}/img/logo.png">
      </div>
      
      <div class="navbar">
	      <div class="navbar-inner">
  
          <ul class="nav">
            <li class="home"><a href="{% url 'team_home' %}">HOME</a></li>
            <li class="bball"><a href="#">MEN'S BASKETBALL</a></li>
            <li class="bball"><a href="#">WOMEN'S BASKETBALL</a></li>
            <li class="base"><a href="#">BASEBALL</a></li>
            <li class="soft"><a href="#">SOFTBALL</a></li>
            <li class="volley"><a href="#">VOLLEYBALL</a></li>
            <li class="lacr"><a href="#">FOOTBALL</a></li>
          </ul>
        </div>
      </div>
      
      <div id = "logo">
	    
	    <h1>{{teams.name}}</h1>
	    
      </div>
	
      <div id="playersCard">
	    
	    <h2>#{{member.number}} {{member.name}} <img src="{{ STATIC_URL }}/img/tinyball.png">
	    <hr>
	    <h2>{{member.position}}</h2>
	    <img src="{{member.image}}">
	    
		  <table class="table">
			<tr><h4>Fun Fact: {{member.funFact}}</h4></tr>
			<tr><h4>Hometown: {{member.hometown}}</h4></tr>
			<tr><h4>Grade: {{member.year}}</h4></tr>
			<tr><h4>Bio: {{member.bio}}</h4></tr>
		  </table>
		  
      </div> <!--close playersCard-->
{% endblock %}
