{% extends "base.html"%}
{% load humanize %}
{% load url from future %}
{% block content %}
      
      <div id = "logo">
	    
	    <img src="{{ STATIC_URL }}/img/.png">
	    
      </div>
	
	  <ul class = "nav nav-pills">
                <li><a href="">Carolina Basketball Home</a></li>
                <li><a href="">Men's Basketball Team</a></li>
                <li><a href="">Women's Basketball Team</a></li>
        </ul>
        </div>
	<div id="playersCard">
	    
	    <h2>#{{member.number}} {{member.name}} <img src="{{ STATIC_URL }}/img/tinyball.png">
	    <hr>
	    <h2>{{member.position}}</h2>
	    <img src="{{member.image}}">
	    
		  <table class="table">
			<tr><h4>Fun Fact: {{member.funFact}}</h4></tr>
			<tr><h4>Hometown: {{member.hometown}}</h4></tr>
			<tr><h4>Grade: {{member.year}}</h4></tr>
		  </table>
		  
	</div> <!--close playersCard-->
{% endblock %}
