{% extends "base.html"%}
{% load url from future %}
{% block content %}

	
	  <ul class = "nav nav-pills">
                <li><a href="">Carolina Basketball Home</a></li>
                <li><a href="">Men's Basketball Team</a></li>
                <li><a href="">Women's Basketball Team</a></li>
        </ul>
        </div>

	<table class = "table">
	<th>Name</th>
	<th>Number</th>
	<th>Position</th>
	<th>Year</th>
	{% for a in memberCount %}
	<tr>
	 <td><a href="{% url 'teams_member' a.id %}">{{a.name}}</a></td>
	 <td>{{a.number}}</td>
	 <td>{{a.position}}</td>
	 <td>{{a.year}}</td>

	</tr>
	
	{% endfor %} 
	</table>
      </div>
{% endblock %}
