{% extends "base.html"%}
{% load url from future %}
{% block content %}

      <div id="logo">
      <img src="{{ STATIC_URL }}/img/logo.png">
      </div>
      <div class="navbar">
	      <div class="navbar-inner">
  
          <ul class="nav">
            <li><a href="{% url 'team_home' %}">HOME</a></li>
            <li><a class="bball" href="#">MEN'S BASKETBALL</a></li>
            <li><a class="bball" href="#">WOMEN'S BASKETBALL</a></li>
            <li><a class="base" href="#">BASEBALL</a></li>
            <li><a class="soft" href="#">SOFTBALL</a></li>
            <li><a class="volley" href="#">VOLLEYBALL</a></li>
            <li><a class="lacr" href="#">FOOTBALL</a></li>
          </ul>
        </div>
      </div>
      <div id="teamStats">
	
	<h1>Overall Team Stats <img src="{{ STATIC_URL }}/img/tinyball.png"></h1>
	
	    {% for a in teamsInfo%}
	    <tr>
		  <td>{{teams.name}}</td>
	    </tr>
	    
	    {% endfor %}
	    
      </div>	
	
	<table class = "table mainTable">
	<th>Name</th>
	<th>Number</th>
	<th>Position</th>
	<th>Year</th>
	{% for a in memberCount %}
	<tr>
	 <td><a href="{% url 'teams_member' a.id %}">{{a.name}}</a></td>
	 <td>{{a.number}}</td>
	 <td>{{a.position}}</td>
	 <td>{{a.year}}</td>

	</tr>
	
	{% endfor %} 
	</table>
      </div>
{% endblock %}
